<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
		<script type="text/javascript" src="../../static/js/index.js" ></script>
		<link rel="stylesheet" href="../../static/css/index.css" />
		<title></title>
	</head>
	<body>
		<header id='index-header'>
			<div id='navi-div'>
				
			</div>
			<div id='navi-menu'>
				<div id='center-menu'>
					<div class='active-div'>
						<a>	首页</a>
					</div>
					<div>
						<a>内容</a>
						<ul class='navi-ul'>
							<li>1</li>
							<li>1</li>
							<li>1</li>
							<li>1</li>
						</ul>
					</div>
					<div>
						<a>内容</a>
					</div>
					<div>
						<a>内容</a>
					</div>
				</div>
			</div>
		</header>
		<section id='content-section'>
			<div ></div>
		</section>
		<footer id='index-footer'></footer>
	</body>
</html>
