<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>全部新闻</title>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
		</script>
		<script type="text/javascript" src="../../static/js/newslist.js"></script>

	</head>

	<body>
		<div id='news-list-title'>
			<h3>
				News list 
			</h3>
			<a href="/Demo">List</a>
		</div>
		<button id='load-data'>加载内容</button>
		<div id='news-list-body'>
			<table id='news_table' border="0" cellspacing="40px" cellpadding="">
				<tr id='new-list-tbheader'>
					<th>
						Title
					</th>
					<th>
						Pubtime
					</th>
					<th>
						Modifytime
					</th>
				</tr>

			</table>
		</div>
	</body>

</html>