
body{
margin: 0px;
padding: 0px;
}
body,div, form, img, ul, ol, li, dl, dt, dd, form, p ,section,header,a{
margin: 20px;
padding: 0px;
border: 0px;
font-size: 0;
font-family:"microsoft yahei";
}
input{
	width: 100%;
	padding: 0;
}
h1{
	margin: 40px auto;
	text-align: center;
	font-size: 28px;
}
form{
	margin: auto;
	width: 200px;
	font-size: 16px;
	padding: 0;
}
#register{
	margin: 20px auto ;
	width:100%;
	padding: 0;
}


